@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    --background-color: #f0f0f0;
    --primary-color: #478be7;
    --primary-color-hover: #0821ff;
    --primary-color-translucent: #0821ff80;
}

body {
    font-family: Inter, sans-serif;
    background-color: var(--background-color);
}